<h3>All Jobs</h3>

<ul>
  <% @jobs.each do |job| %>
    <%= job.title %>
    <%= job.company.name %>
    <%= job.city %>
    <%= job.level_of_interest %>
    <%= link_to "Edit", edit_job_path(job) %>
    <%= link_to "Delete", job_path(job), method: "delete" %>
  <% end %>
</ul>
