<h3>All Jobs</h3>
<%= link_to "Add New Job", new_company_job_path(@company), class: 'new-job' %>
<ul>
  <% @jobs.each do |job| %>
    <%= job.title %>
    <%= job.company.name %>
    <%= job.city %>
    <%= job.level_of_interest %>
    <%= job.category&.title %>
    <%= link_to "Edit", edit_company_job_path(@company, job) %>
    <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
  <% end %>
</ul>
