Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<%= form_for [@job, @comment] do |f| %>
  <p>
    <%= f.label :notes %>
    <%= f.text_area :content  %>
  </p>
  <p>
    <%= f.submit 'Save'%>
  </p>
<% end %>

<div>
 <% @job.comments.reverse.each do |comment| %>
   <p class="comment">
     <%= comment.content %>
   </p>
   <p>
     Posted <%= time_ago_in_words(comment.created_at) %> ago
   </p>
 <% end %>
</div>
